anyio
asttokens
backcall
certifi
click
colorama
comm
contourpy
cycler
debugpy
decorator
distlib
docutils
executing
fastapi
filelock
fonttools
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
missingno
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
pipenv
platformdirs
prompt-toolkit
psutil
pure-eval
pydantic
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
six
sniffio
stack-data
starlette
statistics
threadpoolctl
tornado
traitlets
typing_extensions
uvicorn
virtualenv
virtualenv-clone
wcwidth
wordcloud
